.about {
  &__container {
    padding-top: rem(40);
    padding-bottom: rem(60);
  }

  &__title {
  }

  &__content {
    display: flex;
  }

  &__image-container {
    flex-basis: calc(100% / 2 - 12px);
    margin-right: rem(24);
    border-radius: rem(5);
    overflow: hidden;
  }

  &__image {
    transition: all 0.4s ease;
    backface-visibility: none;

    @include hover {
      transform: scale(1.02);
    }
  }

  &__text-container {
    flex-basis: calc(100% / 2 - 12px);
  }

  &__text {
    @include mb(rem(16));
    margin: 0;
  }
}
