.about {
  &__container {
    padding-top: rem(40);
    padding-bottom: rem(60);

    @include small-tablet {
      padding-top: rem(30);
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__image-container {
    flex-basis: calc(100% / 2 - 12px);
    margin-right: rem(24);
    border-radius: rem(5);
    overflow: hidden;
    position: sticky;
    top: calc(var(--header-height) + var(--submenu-height) + 10px);

    @include small-tablet {
      position: static;
      top: 0;
      flex-basis: unset;
      width: 100%;
      max-width: 100%;
      margin-right: 0;
      margin-bottom: rem(20);
      justify-content: center;
    }
  }

  &__image {
    transition: all 0.4s ease;
    width: 100%;
    @include hover {
      transform: scale(1.02);
    }
  }

  &__text-container {
    flex-basis: calc(100% / 2 - 12px);
  }

  &__text {
    @include mb(rem(16));
    margin: 0;
  }
}
