.emergency {
  position: fixed;
  z-index: 30;
  bottom: 10px;
  right: 10px;
  width: 9%;
  background-color: var(--light-color);
  border: 3px solid var(--light-pink);
  border-radius: 50%;
  // &:before {
  //   content: "";
  //   @include absolute-center;
  //   width: 80%;
  //   height: 80%;
  //   border: 2px solid var(--accent-color);
  //   border-radius: 50%;
  //   animation: pulse 1s ease infinite;
  // }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/rounded_text.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    transform-origin: center;
    animation: rotate 8s linear 0s infinite;
  }

  @media (any-hover: hover) {
    &:hover:before {
      animation-play-state: paused;
    }
  }

  &:after {
    content: "";
    display: block;
    padding-top: 100%;
  }
  &__btn {
    @include absolute-center;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background: var(--orange-gradient);
    transition: all 0.4 ease;

    & img {
      @include absolute-center;
      display: inline;
      text-align: center;
      width: 60%;
      height: auto;
    }

    &:active {
      width: 68%;
      height: 68%;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

// @keyframes pulse {
//   0% {
//     width: 70%;
//     height: 70%;
//     border-width: 1px;
//   }
//   100% {
//     width: 110%;
//     height: 110%;
//     border-width: 40px;
//     border-color: transparent;
//   }
// }
