.footer {
  background: var(--orange-gradient);

  &__container {
    @include flex-all-sb;
    padding-top: rem(40);
    padding-bottom: rem(40);
    align-items: flex-start;
  }

  &__logo {
    margin-right: 30px;
    transition: all 0.4s ease;

    @include hover {
      transform: rotateZ(0.8deg);
      transform: scale(1.03);
    }

    @media (max-width: 782px) {
      display: none;
    }
  }

  &__submenu-wrapper {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: rem(70);

    @include small-tablet {
      flex-direction: column;
      gap: rem(20);
    }

    @include mobile {
      text-align: center;
      align-items: unset;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex: 0 1 rem(803);
    margin-left: auto;

    @include small-tablet {
      justify-content: space-around;
      align-items: flex-start;
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    display: block;
    font-size: rem(14);
    line-height: 130%;
    font-weight: 600;
    margin-bottom: rem(16);
  }

  &__nav {
    margin-right: rem(50);

    @include mobile {
      margin-right: 0;
      margin-bottom: rem(30);
    }
  }

  &__sotial {
  }

  &__pays {
  }
}

.logo {
  &__link {
  }

  &__image {
  }
}

.sotial {
  &__icons-list {
    @include flex-v-center;

    @include mobile {
      justify-content: center;
    }
  }

  &__icons-item {
    @include mr(rem(16));
    transform-origin: center;
    transition: all 0.4s ease;

    @include hover {
      transform: scale(1.2) rotate(30deg);
    }

    &:active {
      transform: scale(0.9) rotate(0deg);
    }
  }

  &__link {
  }
}

.pays {
  &__icons-list {
    @include flex-v-center;
  }

  &__icons-item {
    @include mr(rem(16));
  }

  &__image {
  }
}

.nav {
  &__list {
  }

  &__item {
    @include mb(rem(10));
  }
}
