.popup-form {
  padding: rem(20) rem(50);
  text-align: center;
  border-radius: rem(14);
  background-color: var(--light-color);

  @include small-tablet {
    padding-left: rem(10);
    padding-right: rem(10);
  }

  @include mobile {
    padding-top: rem(15);
  }

  &__btn {
    background-color: var(--accent-color);
    width: 100%;
  }

  &__notice {
    margin-top: rem(16);
    margin-bottom: rem(32);
    font-size: rem(14);
    color: #666;
  }

  &__input {
    height: rem(50);
    padding: 0;
    margin-bottom: rem(18);
    text-align: center;
    border-radius: rem(14);
  }

  & label .just-validate-error-label {
    margin-bottom: rem(8);
    margin-top: rem(-18);
    font-size: rem(12);
  }

  &__control {
    display: block;
    width: 100%;
    height: rem(50);
    padding: rem(6) rem(12);
    font-size: rem(14);
    line-height: 150%;
    color: #555;
    background-color: var(--light-color);
    background-image: none;
    border: 1px solid #ccc;
    border-radius: rem(50);

    &:focus {
      border-color: var(--accent-color);
      outline: 0;
    }
  }
}

.form-title {
  margin-bottom: rem(5);
  font-size: rem(20);
  font-weight: 600;
  text-align: center;
  font-style: normal;
  color: var(--dark-gray-color);
  line-height: 1.5;
  margin-top: 0;

  @include small-tablet {
    line-height: 1.2;
    margin-bottom: 0;
  }
}

.form-subtitle {
  font-size: rem(20);
  text-transform: uppercase;
}

.popup-big .form-title {
  font-size: rem(25);
}

select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select:not([multiple]) {
  padding-right: 0.2em;
  background-repeat: no-repeat;
  background-position: calc(100% - 1.25em) 1.35em;
  background-size: 0.85em auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80'%3E%3Cpath d='M70.3 13.8L40 66.3 9.7 13.8z' fill='%23000'%3E%3C/path%3E%3C/svg%3E");
}

/* скроет иконку стрелки в IE */
select::-ms-expand {
  display: none;
}
