.header {
  position: fixed;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  &__top {
    background-color: var(--light-gray);
  }

  // &--fixed {
  //   position: fixed;
  //   z-index: 30;
  //   width: 100%;
  //   top: 0;
  //   left: 0;
  // }

  &__container-top,
  &__location,
  &__communication,
  &__phone {
    @include flex-v-center;
  }

  &__container-top {
    padding-top: rem(10);
    padding-bottom: rem(10);
  }

  &__location {
    margin-right: auto;
    color: var(--dark-gray-color);
  }
  &__location svg {
    margin-right: rem(8);
  }

  &__btn--order {
    margin-right: auto;
  }

  &__phone {
    margin-right: 16px;
    color: var(--dark-gray-color);
  }

  &__phone svg {
    margin-right: rem(10);
  }

  &__bottom {
  }

  &__container-bottom,
  &__nav-list {
    @include flex-v-center;
  }

  &__container-bottom {
    padding-top: rem(12);
    padding-bottom: rem(12);
  }

  &__nav {
    flex: 0 1 rem(390);
    margin-right: 40px;
  }

  &__nav-list {
    @include flex-all-sb;
  }

  &__nav-item {
    @include mr(10px);
  }

  &__btn--login {
    background-color: var(--pink);
    border: none;
  }

  &__logo {
    max-width: rem(55);
    margin-right: auto;
    transition: all 0.4s ease;

    @include hover {
      transform: scale(1.03);
    }
  }
}
.logo {
  &__link {
  }

  &__image {
  }
}

.header--fill .header__bottom {
  animation: fill-bg 0.6s ease 0s 1 normal forwards;
}

.header--no-fill .header__bottom {
  animation: no-fill-bg 0.6s ease 0s 1 normal forwards;
}

@keyframes fill-bg {
  0% {
    background-color: none;
  }

  100% {
    background-color: #f57428;
  }
}
@keyframes no-fill-bg {
  0% {
    background-color: var(--accent-color);
  }

  100% {
    background-color: none;
  }
}
