.h2-title {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-size: rem(45);
  line-height: 130%;
  text-align: center;
  margin: 0;
  margin-bottom: rem(46);
}

.h3-title {
  font-size: rem(21);
  font-weight: 600;
  line-height: 143%;
  margin: 0;
}

.nav__link {
  position: relative;
  color: var(--dark-gray-color);
  line-height: 130%;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 0;
    height: 1px;
    background-color: var(--dark-gray-color);
    transition: all 0.4s ease;
  }

  @media (any-hover: hover) {
    &:hover::before {
      width: 100%;
    }
  }
}

.main-btn {
  font-size: rem(18);
  font-weight: 600;
  color: var(--dark-blue);
  padding: rem(19) rem(34);
  border: 2px solid transparent;
  border-radius: rem(30);
  transition: all 0.4s ease;

  &--filled {
    background-color: var(--pink);
  }

  &--stroked {
    border-color: var(--pink);
  }

  @include hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(2px);
  }
}

.seconary-btn {
  padding: rem(4) rem(10);
  border: 1px solid var(--dark-gray-color);
  border-radius: rem(30);
  transition: all 0.4s ease;

  @include hover {
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(2px);
  }
}
