.steps {
  &__container {
    padding-bottom: rem(60);
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__image {
  }
  &__image-container {
    border-radius: rem(5);
    overflow: hidden;
    flex: 0 1 rem(654);
  }
  &__item {
  }
  &__text-container {
    flex: 0 1 rem(502);
    margin-right: rem(20);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 22px;
      z-index: -1;
      background-image: url("../img/dashed_line.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 7px;
      height: 376px;
    }
  }
  &__title {
  }
}

.item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: rem(57);

  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 52px;
    font-size: rem(21);
    font-weight: 600;
    color: var(--light-color);
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: rem(34);
    background-color: var(--accent-color);
  }
  &__text {
  }
  &__title {
    margin-bottom: rem(8);
  }
  &__wrapper {
    flex: 0 1 rem(416);
  }
}
