.steps {
  &__container {
    padding-bottom: rem(60);
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include small-tablet {
      flex-direction: column-reverse;
    }
  }

  &__image {
    transition: all 0.4s ease;
    width: 100%;

    @include hover {
      transform: scale(1.02);
    }
  }
  &__image-container {
    border-radius: rem(5);
    overflow: hidden;
    flex: 0 1 rem(654);
    position: sticky;
    top: calc(var(--header-height) + var(--submenu-height) + 10px);
    @include small-tablet {
      position: static;
      flex-basis: unset;
      margin-bottom: rem(40);
    }
  }
  &__item {
  }
  &__text-container {
    flex: 0 1 rem(502);
    margin-right: rem(20);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 22px;
      z-index: -1;
      background-image: url("../img/dashed_line.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 7px;
      height: 376px;
      @media (max-width: 944px) {
        display: none;
      }
    }
    @include small-tablet {
      flex-basis: unset;
    }
    @include mobile {
      margin: 0 auto;
    }
  }
  &__title {
  }
}

.item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: rem(57);

  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 52px;
    font-size: rem(21);
    font-weight: 600;
    color: var(--light-color);
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: rem(34);
    background-color: var(--accent-color);
    @include small-tablet {
      margin-right: rem(20);
    }
    @include mobile {
      margin-right: 0;
      margin-bottom: rem(20);
    }
  }
  &__text {
  }
  &__title {
    margin-bottom: rem(8);
  }
  &__wrapper {
    flex: 0 1 rem(416);
    @include mobile {
      flex-basis: unset;
    }
  }
  @include small-tablet {
    margin-bottom: rem(35);
    justify-content: center;
  }
  @include mobile {
    flex-direction: column;
    max-width: rem(348);
  }
}
