.submenu {
  @include small-tablet {
    position: sticky;
    top: rem(60);
    z-index: 25;
  }

  &__items {
    display: flex;
    position: relative;
    width: rem(1200);
    height: 100%;
    margin: 0 auto;
  }

  &__item {
    position: absolute;
    width: 224px;
    height: 50px;
    text-align: center;
    background-color: var(--pink);
    box-shadow: 0px 4px 20px rgba(95, 96, 95, 0.5);
    border-radius: 0px 0px 60px 60px;
    transition: all 0.4s ease;

    @include hover {
      z-index: 8;
      height: 60px;
    }
  }

  &__item-1 {
    z-index: 5;
  }

  &__item-2 {
    left: 192px;
    z-index: 4;
  }

  &__item-3 {
    left: 388px;
    z-index: 3;
  }

  &__item-4 {
    left: 584px;
    z-index: 2;
  }

  &__item-5 {
    left: 780px;
    z-index: 1;
  }

  &__item-6 {
    left: 976px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--dark-gray-color);
    line-height: 125%;
    padding-left: 40px;
    padding-right: 40px;
    word-wrap: wrap;
  }
}

.header--fixed .submenu {
  position: fixed;
  left: 0;
  top: calc(var(--header-height) - 1px);
  width: 100%;
  z-index: 19;

  @include small-tablet {
    position: sticky;
    top: rem(60);
    z-index: 25;
  }
}

.item-active {
  height: 70px;
  background-color: #f57529;
  z-index: 7;

  & a {
    width: 100%;
    color: var(--light-color);
  }
}

// Стили для горизонтального drag and scroll
.submenu__container {
  padding-left: 0;
  padding-right: 0;
  -webkit-tap-highlight-color: transparent;
}

.submenu__nav {
  position: relative;
  height: 105px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: wrap;
  transition: all 0.2s;
  will-change: transform;
  user-select: none;
  cursor: pointer;

  &::-webkit-scrollbar {
    display: none;
  }
}

.submenu__nav.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

// @submenu__item-active
