<section class="about">
  <div class="container about__container">
    <h2 class="about__title h2-title">О нас</h2>
    <div class="about__content">
      <div class="about__image-container">
        <img class="about__image" src="img/content_images/about_image.jpg" alt="Мужчины работают за ноутбуками"
          width="594" height="368">
      </div>
      <div class="about__text-container">
        <p class="about__text">Каждый член нашей команды — это специалист, имеющий большой опыт применения
          законодательства Российской Федерации,
          постоянно повышающий свой профессиональный уровень, оттачивающий своё правовое мастерство при ежедневном
          оказании
          юридической помощи гражданам и бизнесу.</p>
        <p class="about__text">Мы объединили специалистов, специализирующихся в различных областях правоотношений, что
          позволяет оказывать всестороннюю
          поддержку клиентов в любых сферах жизнедеятельности. Нашей целью является достижение положительного результата
          любыми
          законными способами в кратчайшие сроки.</p>
        <!-- <p class="about__text">Компетентность, командная работа, предметная специализация и нацеленность на результат —
          залог успеха нашей правовой
          группы.</p> -->
      </div>
    </div>
  </div>
</section>