<section class="consult">
  <div class="container consult__container">
    <h2 class="consult__title h2-title">Как мы можем вам помочь</h2>
    <div class="consult__items">
      <div class="consult__item consult__item--map">
        <div class="yandex-map" id="YandexMap">
        </div>
      </div>
      <div class="consult__item consult__item--form">
        <h3 class="consult__form-title h3-title">Получите бесплатную консультацию прямо сейчас</h3>
        <div class="consult__form-subtitle">
          Опишите свою ситуацию и мы перезвоним вам в кратчайшие сроки
        </div>
        <form action="#" class="form form-2">
          <div class="form__fields-wrapper">
            <div class="form__inputs-box">
              <label for="consult-name">
                <input id="consult-name" type="text" name="Имя" class="form__input name" placeholder="Имя" required>
              </label>
              <label for="consult-phone">
                <input id="consult-phone" type="tel" name="Телефон" class="form__input phone" placeholder="Tелефон"
                  required>
              </label>
            </div>
            <textarea name="Вопрос" class="form__textarea" cols="30" rows="5"
              placeholder="Коротко опишите проблемму"></textarea>
          </div>
          <button type="submit" href="/" class="btn-reset form__btn main-btn">Оставить заявку</button>
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__field" required>
            <span class="custom-checkbox__content"></span>
            Соглашаюсь с условиями передачи данных
          </label>
        </form>
      </div>
    </div>
  </div>
</section>
