<section class="consult">
  <div class="container consult__container">
    <h2 class="consult__title h2-title">Как мы можем вам помочь</h2>
    <div class="consult__items">
      <div class="consult__item consult__item--map">
        <div class="yandex-map" id="YandexMap"></div>
        <!-- <picture>
          <source srcset="img/map.webp" type="image/webp">
          <img loading="lazy" src="img/map.jpg" class="map-image" width="1734" height="628" alt="Карта">
        </picture> -->
      </div>
      <div class="consult__item consult__item--form">
        <h3 class="consult__form-title h3-title">Получите бесплатную консультацию прямо сейчас</h3>
        <div class="consult__form-subtitle">
          Опишите свою ситуацию и мы перезвоним вам в кратчайшие сроки
        </div>
        <form action="#" class="form">

          <div class="form__input-box">
            <input type="text" name="Имя" class="input-reset form__input" placeholder="Имя" required>

            <input type="phone" name="Телефон" class="input-reset form__input" placeholder="+7 (___) ___-__-__"
              required>
          </div>
          <textarea name="Вопрос" class="form__textarea" cols="30" rows="10"></textarea>

          <button type="submit" href="/" class="btn-reset form__btn main-btn">Оставить заявку</button>

          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__field" required>
            <span class="custom-checkbox__content"></span>
            Соглашаюсь с условиями передачи данных
          </label>
        </form>
      </div>
    </div>
  </div>
</section>
