<section class="features">
  <div class="features__container">
    <h2 class="features__title h2-title">Почему выбирают нас</h2>

    <div class="features__items-container feature">
      <div class="feature__item feature__item-1">
        <div class="feature__item-content">
          <div class="feature__counter">01</div>
          <div class="feature__text-content">
            <h3 class="feature__title h3-title" data-aos="fade-in" data-aos-delay="200" data-aos-duration="2000">
              Оперативность</h3>
            <div class="feature__text">Мы готовы прийти на помощь в любое время дня и ночи. В случаях, не терпящих
              отлагательства (задержание, обыск, ДТП и
              т.д.)</div>
          </div>
        </div>
      </div>
      <div class="feature__item feature__item-2">
        <div class="feature__item-content">
          <div class="feature__counter">02</div>
          <div class="feature__text-content">
            <h3 class="feature__title h3-title" data-aos="fade-in" data-aos-delay="250" data-aos-duration="2000">
              Мобильность</h3>
            <div class="feature__text">Мы можем оказать юридическую помощь в любой точке страны, как онлайн так и лично
              в вашем городе</div>
          </div>
        </div>
      </div>
      <div class="feature__item feature__item-3">
        <div class="feature__item-content">
          <div class="feature__counter">03</div>
          <div class="feature__text-content">
            <h3 class="feature__title h3-title" data-aos="fade-in" data-aos-delay="300" data-aos-duration="2000">Опыт
            </h3>
            <div class="feature__text">Мы имеет большой опыт, что позволяет нам планировать варианты путей достижения
              целей, согласованных с нашими клиентами</div>
          </div>
        </div>
      </div>
      <div class="feature__item feature__item-4">
        <div class="feature__item-content">
          <div class="feature__counter">04</div>
          <div class="feature__text-content">
            <h3 class="feature__title h3-title" data-aos="fade-in" data-aos-delay="350" data-aos-duration="2000">
              Бесплатные консультации</h3>
            <div class="feature__text">Консультации до 15 минут являются бесплатными.</div>
          </div>
        </div>
      </div>
      <div class="feature__item feature__item-5">
        <div class="feature__item-content">
          <div class="feature__counter">05</div>
          <div class="feature__text-content">
            <h3 class="feature__title h3-title" data-aos="fade-in" data-aos-delay="400" data-aos-duration="2000">Ценовая
              политика</h3>
            <div class="feature__text">По каждому делу работают не менее 2 юристов, без изменения стоимости услуг для
              улучшения результата</div>
          </div>
        </div>
      </div>
      <div class="feature__item feature__item-6">
        <div class="feature__item-content">
          <div class="feature__counter">06</div>
          <div class="feature__text-content">
            <h3 class="feature__title h3-title" data-aos="fade-in" data-aos-delay="450" data-aos-duration="2000">Ценовая
              политика</h3>
            <div class="feature__text">Стоимость оказания услуг оговаривается до начала выполнения работ. Возможна
              рассрочка платежа</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
