<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title" data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000"
        data-aos-easing="ease-in-sine">@hero-title</h1>
      <div class="hero__subtitle" data-aos="fade-in" data-aos-delay="150" data-aos-duration="1000"
        data-aos-easing="ease-in-sine">@hero-subtitle</div>
      <div class="hero__buttons-block">
        <button type="button" class="main-btn hero__btn-help main-btn--filled btn-reset">Получить
          помощь</button>
        <button type="button" class="main-btn hero__btn-question main-btn--stroked btn-reset">Бесплатная
          консультация</button>
      </div>
    </div>
    <div class="hero__image-container">
      <picture>
        <source srcset="@hero-image-w" type="image/webp">
        <img loading="lazy" src="@hero-image" class="hero__image" width="470" height="470" alt="Коллеги дают пять">
      </picture>
    </div>
  </div>
</section>