<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title" data-aos="fade-in" data-aos-delay="50" data-aos-duration="1000"
        data-aos-easing="ease-in-sine">Юридическая помощь по
        всем
        направлениям</h1>
      <div class="hero__subtitle" data-aos="fade-in" data-aos-delay="150" data-aos-duration="1000"
        data-aos-easing="ease-in-sine">
        Столкнулись с нарушением законодательства.
        До решения вашей проблемы остался один клик
      </div>
      <div class="hero__buttons-block">
        <button type="button" class="main-btn hero__btn-help main-btn--filled btn-reset">Получить
          помощь</button>
        <button type="button" class="main-btn hero__btn-question main-btn--stroked btn-reset">Бесплатная
          консультация</button>
      </div>
    </div>
    <div class="hero__image-container">
      <picture>
        <source srcset="img/content_images/hero_image.webp" type="image/webp">
        <img loading="lazy" src="img/content_images/hero_image.jpg" class="hero__image" width="470" height="470"
          alt="Коллеги дают пять">
      </picture>
    </div>
  </div>
</section>
