<section class="reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title h2-title">Что о нас говорят клиенты</h2>
    <div class="review__slider-container itcss">
      <div class="itcss__wrapper">
        <div class="itcss__items">
          <div class="itcss__item">
            <div class="itcss__item-content">
              <img class="itcss__item-quote" src="img/quote_mark.svg" alt="Иконка цитаты">
              <div class="itcss__item-title">
                «Я уверена, здесь работают профессионалы»
              </div>
              <p class="itcss__item-subtitle">На последнем месте работы меня сократили не законно с должности и не
                соблюли процедуру увольнения.
              </p>
              <p class="itcss__item-subtitle">Но юристы “Вашего права” решили мою проблему, меня восстановили в
                должности и выплатили все неустойки. Я
                уверена, здесь
                работают профессионалы.
              </p>
              <a role="button" class="itcss__item-link">Читать отзыв полностью</a>
            </div>
            <div class="itcss__item-img">
              <picture>
                <source srcset="img/slider_images/slider_image1.webp" type="image/webp">
                <img loading="lazy" src="img/slider_images/slider_image1.jpg" class="image" width="260" height="260"
                  alt="Фото девушки">
              </picture>
              <div class="itcss__item-usernave">Алена Васюкова</div>
              <div class="itcss__item-usercity">Краснодар</div>
            </div>
          </div>
          <div class="itcss__item">
            <div class="itcss__item-content">
              <img class="itcss__item-quote" src="img/quote_mark.svg" alt="Иконка цитаты">
              <div class="itcss__item-title">
                «Я уверена, здесь работают профессионалы»
              </div>
              <p class="itcss__item-subtitle">На последнем месте работы меня сократили не законно с должности и не
                соблюли процедуру увольнения.
              </p>
              <p class="itcss__item-subtitle">Но юристы “Вашего права” решили мою проблему, меня восстановили в
                должности и выплатили все неустойки. Я
                уверена, здесь
                работают профессионалы»
              </p>
              <a role="button" class="itcss__item-link">Читать отзыв полностью</a>
            </div>
            <div class="itcss__item-img">
              <picture>
                <source srcset="img/slider_images/slider_image2.webp" type="image/webp">
                <img loading="lazy" src="img/slider_images/slider_image2.jpg" class="image" width="260" height="260"
                  alt="Фото девушки">
              </picture>
              <div class="itcss__item-usernave">Надежда Миронова</div>
              <div class="itcss__item-usercity">Владивосток</div>
            </div>
          </div>
          <div class="itcss__item">
            <div class="itcss__item-content">
              <img class="itcss__item-quote" src="img/quote_mark.svg" alt="Иконка цитаты">
              <div class="itcss__item-title">
                «Вы делаете очень важную для людей работу»
              </div>
              <p class="itcss__item-subtitle">Хочу сказать, что юристы Вашей команды оказали действительно очень
                большую помощь в решении моей проблемы.
              </p>
              <p class="itcss__item-subtitle">P.S. Вы делаете очень важную для людей работу!
              </p>
              <a role="button" class="itcss__item-link">Читать отзыв полностью</a>
            </div>
            <div class="itcss__item-img">
              <picture>
                <source srcset="img/slider_images/slider_image3.webp" type="image/webp">
                <img loading="lazy" src="img/slider_images/slider_image3.jpg" class="image" width="260" height="260"
                  alt="Фото девушки">
              </picture>
              <div class="itcss__item-usernave">Екатерина Ермолаева</div>
              <div class="itcss__item-usercity">Севастополь</div>
            </div>
          </div>
        </div>
      </div>
      <button class="itcss__btn itcss__btn--prev" role="button" data-slide="next"></button>
      <button class="itcss__btn itcss__btn--next" role="button" data-slide="prev"></button>
    </div>
  </div>
</section>
