<section class="steps">
  <div class="container steps__container">
    <h2 class="steps__title h2-title">Как мы работаем</h2>
    <div class="steps__content">
      <div class="steps__text-container">
        <div class="steps__item item">
          <div class="item__counter">1</div>
          <div class="item__wrapper">
            <h3 class="item__title h3-title" data-aos="fade-in" data-aos-delay="200" data-aos-duration="2000">Подбор
              юриста</h3>
            <div class="item__text">
              Наш опытный менеджер классифицирует ваш вопрос и подбирет юриста с опытом успешных дел, похожих на ваше
            </div>
          </div>
        </div>
        <div class="steps__item item">
          <div class="item__counter">2</div>
          <div class="item__wrapper">
            <h3 class="item__title h3-title" data-aos="fade-in" data-aos-delay="250" data-aos-duration="2000">Бесплатная
              консультация</h3>
            <div class="item__text">
              Юрист свяжется с вами для бесплатной консультации и расскажет как добиться нужного вам результата
            </div>
          </div>
        </div>
        <div class="steps__item item">
          <div class="item__counter">3</div>
          <div class="item__wrapper">
            <h3 class="item__title h3-title" data-aos="fade-in" data-aos-delay="300" data-aos-duration="2000">Решение
              проблемы</h3>
            <div class="item__text">
              Теперь вы можете сделать всё самостоятельно или заказать услуги этого юриста, чтобы он сделал всю работу
            </div>
          </div>
        </div>
      </div>
      <div class="steps__image-container">
        <picture>
          <source srcset="img/content_images/steps_image.webp" type="image/webp">
          <img loading="lazy" src="img/content_images/steps_image.jpg" class="steps__image" width="654" height="447"
            alt="Рукопожатие двух мужчин">
        </picture>
      </div>
    </div>
  </div>
</section>
