<div class="submenu">
  <div class="container submenu__container">
    <nav class="submenu__nav">
      <ul class="submenu__items list-reset">
        <li class="submenu__item submenu__item-1 submenu__item-active"><a class="submenu__link " href="#">Главная</a>
        </li>
        <li class="submenu__item submenu__item-2"><a class="submenu__link " href="#">Право гражданам</a></li>
        <li class="submenu__item submenu__item-3"><a class="submenu__link " href="#">Право бизнесу</a></li>
        <li class="submenu__item submenu__item-4"><a class="submenu__link " href="#">Информационное право</a></li>
        <li class="submenu__item submenu__item-5"><a class="submenu__link " href="#">Медицинское право</a></li>
        <li class="submenu__item submenu__item-6"><a class="submenu__link " href="#">Уголовное право</a></li>
      </ul>
    </nav>
  </div>
</div>
