<div class="submenu">
  <div class="container submenu__container">
    <nav class="submenu__nav">
      <ul class="submenu__items list-reset">
        <li class="submenu__item submenu__item-1 @home-active">
          <a class="submenu__link" href="@home-link">Главная</a>
        </li>
        <li class="submenu__item submenu__item-2 @civil-active"><a class="submenu__link" href="@civil-link">Гражданские
            дела</a>
        </li>
        <li class="submenu__item submenu__item-3 @crime-active"><a class="submenu__link" href="@crime-link">Уголовное
            право</a>
        </li>
        <li class="submenu__item submenu__item-4 @corp-active"><a class="submenu__link" href="@corp-link">Корпоративное
            право</a>
        </li>
        <li class="submenu__item submenu__item-5 @it-active"><a class="submenu__link" href="@it-link">Авторское право и
            IT</a></li>
        <li class="submenu__item submenu__item-6 @med-active"><a class="submenu__link" href="@med-link">Медицинское
            право</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- /// -->
