<section class="victories">

  <div class="victories__container">
    <h2 class="victories__title h2-title">Клиентские истории</h2>

    <div class="victories__content victories-item">
      <div class="victories-item__text-container">
        <div class="victories-item__title h3-title">
          Краснодарский краевой суд оправдал женщину, обвиняемую в мошенничестве на 6 млн рублей
        </div>
        <div class="victories-item__text">
          Женщина оправдана — суд не нашел в ее действиях состава преступления. Женщина
          имеет право на реабилитацию, а также может обратиться в суд с заявлением о возмещении морального вреда.
        </div>
        <div class="victories-item__results result">
          <div class="result__item res-1">
            <div class="result__item-image"></div>
            <div class="result__item-text">Измеримый результат</div>
          </div>
          <div class="result__item res-2">
            <div class="result__item-image"></div>
            <div class="result__item-text">Решённая проблемма</div>
          </div>
          <div class="result__item res-3">
            <div class="result__item-image"></div>
            <div class="result__item-text">Важный тезис</div>
          </div>
          <div class="result__item res-4">
            <div class="result__item-image"></div>
            <div class="result__item-text">Конкретика в цифрах</div>
          </div>
        </div>
        <a class="victories-item__link warn-trigger" href="javascript:void(0)">Читать подробнее</a>
      </div>
      <div class=" victories-item__image-container">
        <picture>
          <source srcset="img/victories-page_images/v-image_1.webp" type="image/webp">
          <img loading="lazy" src="img/victories-page_images/v-image_1.jpg" class="victories-item__image" width="486"
            height="486" alt="Мужчины работают за ноутбуками">
        </picture>
      </div>
    </div>
    <div class="victories__content victories-item">
      <div class="victories-item__text-container">
        <div class="victories-item__title h3-title">
          Привлекли к уголовной ответственности партнера за незаконные сделки и похищение денежных средств
        </div>
        <div class="victories-item__text">
          Было возбуждено уголовное дело, в ходе расследования которого благодаря немалым усилиям, предпринимаемым с
          нашей стороны и стороны правоохранительных органов, было выявлено несколько преступлений, совершенных
          директором фирмы. Вина директора компании была доказана и признана судом по всем трем эпизодам преступлений.
        </div>
        <div class="victories-item__results result">
          <div class="result__item res-1">
            <div class="result__item-image"></div>
            <div class="result__item-text">Измеримый результат</div>
          </div>
          <div class="result__item res-2">
            <div class="result__item-image"></div>
            <div class="result__item-text">Решённая проблемма</div>
          </div>
          <div class="result__item res-3">
            <div class="result__item-image"></div>
            <div class="result__item-text">Важный тезис</div>
          </div>
          <div class="result__item res-4">
            <div class="result__item-image"></div>
            <div class="result__item-text">Конкретика в цифрах</div>
          </div>
        </div>
        <a class="victories-item__link warn-trigger" href="javascript:void(0)">Читать подробнее</a>
      </div>
      <div class=" victories-item__image-container">
        <picture>
          <source srcset="img/victories-page_images/v-image_2.webp" type="image/webp">
          <img loading="lazy" src="img/victories-page_images/v-image_2.jpg" class="victories-item__image" width="486"
            height="486" alt="Мужчины работают за ноутбуками">
        </picture>
      </div>
    </div>
    <div class="victories__content victories-item">
      <div class="victories-item__text-container">
        <div class="victories-item__title h3-title">
          Избавили директора ювелирной компании от незаконного уголовного преследования
        </div>
        <div class="victories-item__text">
          Отстаивать правоту и невиновность своего подзащитного в условиях, когда правоохранительные органы крайне
          неохотно прислушиваются к разумным и обоснованным доводам адвокатов, крайне тяжело, но все же наши упорные
          усилия принесли свои плоды, и в конечном итоге уголовное дело и уголовное преследование в отношении
          подозреваемой было прекращено
        </div>
        <div class="victories-item__results result">
          <div class="result__item res-1">
            <div class="result__item-image"></div>
            <div class="result__item-text">Измеримый результат</div>
          </div>
          <div class="result__item res-2">
            <div class="result__item-image"></div>
            <div class="result__item-text">Решённая проблемма</div>
          </div>
          <div class="result__item res-3">
            <div class="result__item-image"></div>
            <div class="result__item-text">Важный тезис</div>
          </div>
          <div class="result__item res-4">
            <div class="result__item-image"></div>
            <div class="result__item-text">Конкретика в цифрах</div>
          </div>
        </div>
        <a class="victories-item__link warn-trigger" href="javascript:void(0)">Читать подробнее</a>
      </div>
      <div class=" victories-item__image-container">
        <picture>
          <source srcset="img/victories-page_images/v-image_3.webp" type="image/webp">
          <img loading="lazy" src="img/victories-page_images/v-image_3.jpg" class="victories-item__image" width="486"
            height="486" alt="Мужчины работают за ноутбуками">
        </picture>
      </div>
    </div>

    <a class="victories__show-link" href="javascript:void(0)">
      Показать больше историй
    </a>
  </div>
</section>